<p>Hello <%= @user.first_name%> <%= @user.last_name%>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% reset_password_link = "#{ENV['REACT_APP_API_URL']}/password/edit?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>   Change my password <% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>